<!DOCTYPE html>
<html lang="en">
<head>
{{ mailman_html_tpl_head }}
<title>%(listname)s %(who)s Authentication</title>
</head>

<body id="top">

{% include "templates/httpd_navbar.j2" %}

<main>

<div class="bg-dark bg-image">
<div class="container py-5 text-light">
<div class="row">
<div class="col">
<div class="display-4 my-4 fw-bold">%(listname)s</div>
<div class="lead">%(who)s Authentication</div>
</div>
</div>
</div>
</div>

<div id="admlogin" class="container py-5">

<div class="row">
<div class="col">
<nav class="mb-5" aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="{{ site.baseurl }}/">Home</a></li>
<li class="breadcrumb-item"><a href="https://{{ mailman_url_host }}">Mailing Lists</a></li>
<li class="breadcrumb-item">%(listname)s %(who)s Authentication</li>
</ol>
</nav>
</div>
</div>

%(message)s

<form method="post" action="%(path)s" name="f">
<div class="form-group mb-4">
<div class="row">
<div class="col">
<input type="password" name="adminpw" class="form-control" id="adminpw" placeholder="Password" aria-describedby="adminpw">
<small id="adminpw" class="form-text text-muted">List %(who)s Password</small>
</div>
<div class="col">
<input type="submit" name="admlogin" value="Let me in..." class="btn btn-primary">
</div>
</div>
</div>
</form>

<div class="alert alert-secondary" role="alert">
<h4 class="alert-heading"><i class="fa-solid fa-triangle-exclamation"></i> Important!</h4>
<p>From this point on, you must have cookies enabled in your browser, otherwise no administrative changes will take effect.</p>
<hr/>
<p class="mb-0">Session cookies are used in Mailman's administrative interface so that you don't need to re-authenticate with every administrative operation.  This cookie will expire automatically when you exit your browser, or you can explicitly expire the cookie by hitting the <em>Logout</em> link under <em>Other Administrative Activities</em> (which you'll see once you successfully log in).</p>
</div>

