<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=us-ascii">
{{ mailman_html_tpl_head }}
<meta name="robots" content="noindex,follow">
%(meta)s
<title>%(listname)s Archives</title>
</head>
<body id="top">

{% include "templates/httpd_navbar.j2" %}

<main>

<div class="bg-dark bg-image">
<div class="container py-5 text-light">
<div class="row">
<div class="col">
<div class="display-4 my-4 fw-bold">%(listname)s</div>
<div class="lead">Archives</div>
</div>
</div>
</div>
</div>

<div id="archtocnombox" class="container py-5">

<div class="row">
<div class="col">
<nav class="mb-5" aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="{{ site.baseurl }}/">Home</a></li>
<li class="breadcrumb-item"><a href="https://{{ mailman_url_host }}/">Mailing Lists</a></li>
<li class="breadcrumb-item"><a href="%(listinfo)s">%(listname)s</a></li>
<li class="breadcrumb-item">Archives</li>
</ol>
</nav>
</div>
</div>

%(noarchive_msg)s
%(archive_listing_start)s
%(archive_listing)s
%(archive_listing_end)s

</div>

</main>

{% include "templates/httpd_footer.j2" %}
