<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=us-ascii">
{{ mailman_html_tpl_head }}
<title>%(listname)s Archive Messages</title>
</head>
<body id="top">

{% include "templates/httpd_navbar.j2" %}

<main>

<div class="bg-dark bg-image">
<div class="container py-5 text-light">
<div class="row">
<div class="col">
<div class="display-4 my-4 fw-bold">%(listname)s</div>
<div class="lead">Archive Messages</div>
</div>
</div>
</div>
</div>

<div id="archidxhead" class="container py-5">

<div class="row">
<div class="col">
<nav class="mb-5" aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="{{ site.baseurl }}/">Home</a></li>
<li class="breadcrumb-item"><a href="https://{{ mailman_url_host }}">Mailing Lists</a></li>
<li class="breadcrumb-item"><a href="%(listinfo)s">%(listname)s</a></li>
<li class="breadcrumb-item active">Archive Messages</li>
</ol>
</nav>
</div>
</div>

<div class="row">
<div class="col">
<nav class="mb-3 border-bottom" aria-label="Archive messages top navigation">
<ul class="list-unstyled">
  <li><strong>Messages sorted by:</strong> %(thread_ref)s %(subject_ref)s %(author_ref)s %(date_ref)s</li>
  <li><strong>Last message date:</strong> %(lastdate)s</li>
</ul>
</nav>
</div>
</div>

<ul class="list-unstyled">
