<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=us-ascii">
<meta name="robots" content="noindex,follow">
{{ mailman_html_tpl_head }}
<link rel="index" href="index.html">
<link rel="made" href="mailto:%(email_url)s?subject=re:%%20%(subject_url)s&in-reply-to=%(in_reply_to_url)s">
<title>%(title)s</title>
%(prev)s
%(next)s
</head>
<body id="top">

{% include "templates/httpd_navbar.j2" %}

<main>

<div class="bg-dark bg-image">
<div class="container py-5 text-light">
<div class="row">
<div class="col">
<div class="display-4 my-4 fw-bold">%(subject_html)s</div>
<div class="lead">%(datestr_html)s <br/> %(author_html)s &lt;<a href="mailto:%(email_url)s?Subject=Re:%%20%(subject_url)s&In-Reply-To=%(in_reply_to_url)s" title="%(subject_html)s">%(email_html)s</a>&gt;</div>
</div>
</div>
</div>
</div>

<div id="article" class="container py-5">

<div class="row">
<div class="col">
<nav class="mb-5" aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="{{ site.baseurl }}/">Home</a></li>
<li class="breadcrumb-item"><a href="https://{{ mailman_url_host }}">Mailing Lists</a></li>
<li class="breadcrumb-item"><a href="%(listurl)s">%(listname)s</a></li>
<li class="breadcrumb-item active">Archives
<span class="ml-1">sorted by <a href="date.html#%(sequence)s">date</a></span>
<span class="ml-1">| <a href="thread.html#%(sequence)s">thread</a></span>
<span class="ml-1">| <a href="subject.html#%(sequence)s">subject</a></span>
<span class="ml-1">| <a href="author.html#%(sequence)s">author</a></span>
</li>
<li class="breadcrumb-item active">%(title)s</li>
</ol>
</nav>
</div>
</div>

<nav class="mb-4 border-bottom" aria-label="Threads top navigation">
<ul class="list-unstyled">
<!--threads-->
%(prev_wsubj)s
%(next_wsubj)s
</ul>
</nav>

<!--beginarticle-->
%(body)s
<!--endarticle-->

<nav class="pt-4 border-top" aria-label="Threads bottom navigation">
<ul class="list-unstyled">
<!--threads-->
%(prev_wsubj)s
%(next_wsubj)s
</ul>
</nav>

</div>

</main>

{% include "templates/httpd_footer.j2" %}
