<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=us-ascii">
<meta name="robots" content="noindex,follow">
{{ mailman_html_tpl_head }}
<title>%(listname)s Archives</title>
</head>
<body id="top">

{% include "templates/httpd_navbar.j2" %}

<main>

<div class="bg-dark bg-image">
<div class="container py-5 text-light">
<div class="row">
<div class="col">
<div class="display-4 my-4 fw-bold">%(listname)s</div>
<div class="lead">Archives</div>
</div>
</div>
</div>
</div>

<div id="emptyarchive" class="container py-5">

<div class="row">
<div class="col">
<nav class="mb-5" aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="{{ site.baseurl }}/">Home</a></li>
<li class="breadcrumb-item"><a href="https://{{ mailman_url_host }}">Mailing Lists</a></li>
<li class="breadcrumb-item"><a href="%(listinfo)s">%(listname)s</a></li>
<li class="breadcrumb-item">Archives</li>
</ol>
</nav>
</div>
</div>

<p class="alert alert-primary">No messages have been posted to this list yet, so the archives are currently empty.  You can get <a href="%(listinfo)s">more information about this list</a>.</p>

</div>

</main>

{% include "templates/httpd_footer.j2" %}
