<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=us-ascii">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>%(realname)s Private Archives Authentication</title>
    <link rel="icon" type="image/png" sizes="16x16" href="{{ mailman_html_assets_url }}/assets/img/favicon.png">
    <link rel="stylesheet" href="{{ mailman_html_assets_url }}/assets/css/centos-lists.bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
      <div class="container">
        <a class="navbar-brand" href="{{ mailman_html_assets_url }}/"><img src="{{ mailman_html_assets_url }}/assets/img/logo.png" height="32" alt="The CentOS Project"> <span class="manifestation"></span></a>
        <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item" role="presentation"><a class="nav-link" href="{{ mailman_html_assets_url }}/download"><i class="fas fa-download"></i> Download</a></li>
            <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-info-circle"></i> About</a>
              <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="{{ mailman_html_assets_url }}/about">About CentOS</a>
                <a class="dropdown-item" role="presentation" href="https://wiki.centos.org/FAQ">Frequently Asked Questions (FAQs)</a>
                <a class="dropdown-item" role="presentation" href="https://wiki.centos.org/SpecialInterestGroups">Special Interest Groups (SIGs)</a>
                <a class="dropdown-item" role="presentation" href="{{ mailman_html_assets_url }}/variants">CentOS Variants</a>
                <a class="dropdown-item" role="presentation" href="{{ mailman_html_assets_url }}/about/governance">Governance</a>
                <a class="dropdown-item" role="presentation" href="{{ mailman_html_assets_url }}/code-of-conduct">Code of Conduct</a>
              </div>
            </li>
            <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-users"></i> Community</a>
              <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="https://wiki.centos.org/Contribute">Contribute</a>
                <a class="dropdown-item" role="presentation" href="{{ mailman_html_assets_url }}/forums/">Forums</a>
                <a class="dropdown-item" role="presentation" href="https://wiki.centos.org/GettingHelp/ListInfo">Mailing Lists</a>
                <a class="dropdown-item" role="presentation" href="https://wiki.centos.org/irc">IRC</a>
                <a class="dropdown-item" role="presentation" href="{{ mailman_html_assets_url }}/community/calendar/">Calendar &amp; IRC Meeting List</a>
                <a class="dropdown-item" role="presentation" href="http://planet.centos.org/">Planet</a>
                <a class="dropdown-item" role="presentation" href="https://wiki.centos.org/ReportBugs">Submit Bug</a>
              </div>
            </li>
            <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-book"></i> Documentation</a>
              <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="https://wiki.centos.org/">Wiki</a>
                <a class="dropdown-item" role="presentation" href="https://docs.centos.org/">Manuals</a>
                <a class="dropdown-item" role="presentation" href="{{ mailman_html_assets_url }}/keys">GPG Key Info</a>
              </div>
            </li>
            <li class="nav-item" role="presentation"><a class="nav-link" href="https://wiki.centos.org/Documentation?action=show&amp;redirect=GettingHelp"><i class="fas fa-life-ring"></i> Help</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href="{{ mailman_html_assets_url }}/search"><i class="fas fa-search"></i> Search</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="header header__page">
      <h1 class="header__page__title">%(realname)s</h1>
      <p class="header__page__description">Private archives authentication.</p>
    </header>

    <main class="page">
      <article class="page__content">
        <div class="page__content__nav">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ mailman_html_assets_url }}/">Home</a></li>
            <li class="breadcrumb-item"><a href="https://{{ mailman_url_host }}/">Mailing Lists</a></li>
            <li class="breadcrumb-item">%(realname) private archives authentication</li>
          </ol>
        </div>
        <div class="page__content__mailman__private">

    <form method="post" action="%(action)s" name="f">
    %(message)s
      <table class="table">
        <tr>
          <td colspan="2" width="100%%" bgcolor="#99ccff" align="center">
          <strong><font color="#000000" size="+1">%(realname)s Private Archives Authentication</font></strong>
          </td>
        </tr>
        <tr>
          <td><div align="right">Email address:</div></td>
          <td><input type="text" name="username" size="30"></td>
        </tr>
        <tr>
          <td><div align="right">Password:</div></td>
          <td><input type="password" name="password" size="30"></td>
        </tr>
        <tr>
          <td colspan="2" align="middle"><input type="submit" name="submit" class="btn btn-primary" value="Let me in...">
          </td>
        </tr>
      </table>

      <p><strong><em>Important:</em></strong> From this point on, you must have
        cookies enabled in your browser, otherwise you will have to re-authenticate
        with every operation.

      <p>Session cookies are used in Mailman's private archive interface so that
        you don't need to re-authenticate with every operation.  This cookie will
        expire automatically when you exit your browser, or you can explicitly
        expire the cookie by visiting your member options page and clicking the
        <em>Log out</em> button.  <p>

      <table class="table">
        <tr>
          <td colspan="2" width="100%%" bgcolor="#99CCFF" align="CENTER">
      <strong><font color="#000000" size="+1">Password Reminder</font></strong>
          </td>
        </tr>
        <tr>
          <td>If you don't remember your password, enter your email address
              above and click the <em>Remind</em> button and your
              password will be emailed to you.</td>
        </tr>
        <tr>
          <td><center><input name="login-remind" type="submit" value="Remind" class="btn btn-primary"></center></td>
        </tr>
      </table>
    </form>

      </div>
    </article>
  </main>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <section class="sponsor">
          <div class="sponsor__message">
            <h6><i class="fas fa-hand-holding-heart"></i> Sponsor</h6>
            <p>This site would not be possible without the support of <a href="http://steadfast.net/">steadfast</a>. We would like to thank <a href="http://steadfast.net/">steadfast</a> for being a CentOS sponsor. If you value our work, please consider <a href="{{ mailman_html_assets_url }}/sponsors/">becoming a sponsor</a>!</p>
          </div>
          <div class="sponsor__logo">
              <a href="http://steadfast.net/" rel="nofollow"><img src="{{ mailman_html_assets_url }}/assets/img/sponsors/steadfast.png"></a>
          </div>
        </section>
      </div>
      <div class="row">
        <section class="links">
          <h6><i class="fas fa-info-circle"></i> About</h6>
          <ul>
            <li><a href="{{ mailman_html_assets_url }}/about">About CentOS</a></li>
            <li><a href="https://wiki.centos.org/FAQ">Frequently Asked Questions (FAQs)</a></li>
            <li><a href="https://wiki.centos.org/SpecialInterestGroups">Special Interest Groups (SIGs)</a></li>
            <li><a href="{{ mailman_html_assets_url }}/variants">CentOS Variants</a></li>
            <li><a href="{{ mailman_html_assets_url }}/about/governance">Governance</a></li>
            <li><a href="{{ mailman_html_assets_url }}/code-of-conduct">Code of Conduct</a></li>
          </ul>
        </section>
        <section class="links">
          <h6><i class="fas fa-users"></i> Community</h6>
          <ul>
            <li><a href="https://wiki.centos.org/Contribute">Contribute</a></li>
            <li><a href="{{ mailman_html_assets_url }}/forums/">Forums</a></li>
            <li><a href="https://wiki.centos.org/GettingHelp/ListInfo">Mailing Lists</a></li>
            <li><a href="https://wiki.centos.org/irc">IRC</a></li>
            <li><a href="{{ mailman_html_assets_url }}/community/calendar/">Calendar &amp; IRC Meeting List</a></li>
            <li><a href="http://planet.centos.org/">Planet</a></li>
            <li><a href="https://wiki.centos.org/ReportBugs">Submit Bug</a></li>
          </ul>
        </section>
        <section class="project">
          <h4>The CentOS Project</h4>
          <p class="lead">Community-driven free software effort focused around the goal of providing a rich base platform for open source communities to build upon.</p>
          <div class="lead social">
            <a href="https://www.facebook.com/groups/centosproject/"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/CentOS"><i class="fab fa-twitter"></i></a>
            <a href="https://youtube.com/TheCentOSProject"><i class="fab fa-youtube"></i></a>
            <a href="https://www.linkedin.com/groups/22405"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.reddit.com/r/CentOS/"><i class="fab fa-reddit"></i></a>
          </div>
        </section>
      </div>
      <div class="row">
        <section class="copyright">
          <p>Copyright &copy; 2021 The CentOS Project  | <a href="{{ mailman_html_assets_url }}/legal">Legal</a> | <a href="{{ mailman_html_assets_url }}/privacy">Privacy</a> | <a href="https://git.centos.org/centos/centos.org">Site source</a></p>
        </section>
      </div>
    </div>
  </footer>
  <script src="{{ mailman_html_assets_url }}/assets/js/jquery.min.js"></script>
  <script src="{{ mailman_html_assets_url }}/assets/js/bootstrap.min.js"></script>
</body>
</html>
