<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=us-ascii">
{{ mailman_html_tpl_head }}
<title><MM-List-Name> Subscription results</title>
</head>
<body id="top">

{% include "templates/httpd_navbar.j2" %}

<main>

<div class="bg-dark bg-image">
<div class="container py-5 text-light">
<div class="row">
<div class="col">
<div class="display-4 my-4 fw-bold"><MM-List-Name></div>
<div class="lead">Subscription results</div>
</div>
</div>
</div>
</div>

<div id="subscribe" class="container py-5">

<div class="row">
<div class="col">
<nav class="mb-5" aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="{{ site.baseurl }}/">Home</a></li>
<li class="breadcrumb-item"><a href="https://{{ mailman_url_host }}/">Mailing Lists</a></li>
<li class="breadcrumb-item"><MM-List-Name> Subscription results</li>
</ol>
</nav>
</div>
</div>

<MM-Results>
<MM-Mailman-Footer>

</div>

</main>

{% include "templates/httpd_footer.j2" %}
