<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- CentOS customization -->
    <link href="/centos-design/css/centos.css" rel="stylesheet">
    <!-- Favicon -->
    <link href="/centos-design/images/favicon.png" rel="icon" type="image/png" />
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet">
    <title><MM-Presentable-User> membership configuration for <MM-List-Name></title>
  </head>

  <body class="d-flex flex-column h-100">

    <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="https://www.centos.org/">
      <img src="/centos-design/images/centos-logo-white.png" height="32" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="https://www.centos.org/download">Download</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            About
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="https://www.centos.org/about/">About CentOS</a>
            <a class="dropdown-item" href="https://wiki.centos.org/FAQ">Frequently Asked Questions (FAQs)</a>
            <a class="dropdown-item" href="https://wiki.centos.org/SpecialInterestGroup">Special Interest Groups (SIGs)</a>
            <a class="dropdown-item" href="https://www.centos.org/variants/">CentOS Variants</a>
            <a class="dropdown-item" href="https://www.centos.org/about/governance/">Governance</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Community
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="https://wiki.centos.org/Contribute">Contribute</a>
            <a class="dropdown-item" href="https://www.centos.org/forums/">Forums</a>
            <a class="dropdown-item" href="https://wiki.centos.org/GettingHelp/ListInfo">Mailing Lists</a>
            <a class="dropdown-item" href="https://wiki.centos.org/irc">IRC</a>
            <a class="dropdown-item" href="https://www.centos.org/community/calendar/">Calendar &amp; IRC Meeting List</a>
            <a class="dropdown-item" href="http://planet.centos.org/">Planet</a>
            <a class="dropdown-item" href="https://bugs.centos.org/">Submit a Bug</a>
            <a class="dropdown-item" href="https://www.centos.org/community/stories/">Stories</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Documentation
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="https://wiki.centos.org/">Wiki</a>
            <a class="dropdown-item" href="https://docs.centos.org/">Manuals</a>
            <a class="dropdown-item" href="https://www.centos.org/keys">GPG Key Info</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://wiki.centos.org/Documentation?action=show&redirect=GettingHelp">Help</a>
        </li>
      </ul>
    </div>
    </nav>
    </header>

    <main>
    <div class="container mt-3">
    <h1><MM-List-Name> mailing list membership configuration for <MM-Presentable-User></h1>

    <div class="row">
      <div class="col">
        <p class="mt-3"><strong><MM-Presentable-User></strong>'s subscription status, password, and options for the <MM-List-Name> mailing list.</p>
      </div>
      <div class="col col-lg-2">
        <MM-Form-Start><mm-logout-button><MM-Form-End>
      </div>
    </div>
    <div class="row">
      <div class="col">
      <MM-Case-Preserved-User>
      <MM-Disabled-Notice>
      <mm-results>
      </div>
    </div>
    <div class="row">
      <div class="col">
      <p>You can change the address that you are subscribed to the mailing list
        with by entering the new address in the fields below.  Note that a
        confirmation email will be sent to the new address, and the change must
        be confirmed before it is processed.</p>

      <p>Confirmations time out after about <mm-pending-days>.</p>

      <p>You can also optionally set or change your real name (i.e. <em>John Smith</em>).</p>

      <p>If you want to make the membership changes for all the lists that you are subscribed to at <mm-host>, turn on the <em>Change globally</em> check box.</p>
    </div>
    </div>

    <MM-Form-Start>
    <section class="bg-light p-3">
    <div class="row mt-3 pt-3">
      <div class="col">
        <p>New address:<br/><mm-confirm-address-box></p>
        <p><mm-global-change-of-address> Change globally</p>
      </div>
      <div class="col">
        <p>Again to confirm:<br/><mm-confirm-address-box></p>
      </div>
      <div class="col">
        <p>Your name (optional):<br/><mm-fullname-box></p>
      </div>
    </div>
    <div class="row pb-3">
      <div class="col">
        <mm-change-address-button>
      </div>
    </div>
    </section>

    <section class="bg-white p-3">
    <div class="row">
      <div class="col">
        <h2 class="border-bottom">Unsubscribing from <MM-List-Name></h2>
        <p>Turn on the confirmation checkbox and hit this button to
        unsubscribe from this mailing list.  <strong>Warning:</strong>
        This action will be taken immediately!</p>
        <p><MM-Unsubscribe-Button></p>
      </div>
      <div class="col">
        <h2 class="border-bottom">Your other <MM-Host> subscriptions</h2>
        <p>You can view a list of all the other mailing lists at <mm-host> for
        which you are a member.  Use this if you want to make the same
        membership option changes to this other subscriptions.</p>
        <p><MM-Other-Subscriptions-Submit></p>
      </div>
    </div>
    </section>

    <section class="bg-light p-3">
    <h2 class="border-bottom">Your <MM-List-Name> Password</h2>
    <div class="row mt-3 pt-3">
      <div class="col">
        <h3>Forgotten Your Password?</h3>
        <p>Click this button to have your password emailed to your membership address.</p>
        <p><MM-Umbrella-Notice></p>
        <p><MM-Email-My-Pw></p>
      </div>
      <div class="col">
        <h3>Change Your Password</h3>
        <p>New password: <MM-New-Pass-Box></p>
        <p>Again to confirm: <MM-Confirm-Pass-Box></p>
        <p><MM-Change-Pass-Button></p>
        <p><mm-global-pw-changes-button> Change globally.</p>
      </div>
    </div>
    </section>

    <section class="bg-white p-3">
    <h2 class="border-bottom">Your <MM-List-Name> Subscription Options</h2>
    <div class="alert alert-warning" role="alert"><strong>CAUTION:</strong> Current values are checked.</div>
    <div class="alert alert-info" role="alert"><strong>NOTE:</strong> Some of
      the options have a <em>Set globally</em> checkbox.  Checking this field
      will cause the changes to be made to every mailing list that you are a
      member of on <mm-host>.  Click on <em>List my other subscriptions</em>
      above to see which other mailing lists you are
      subscribed to.</div>

    <div class="row m-3 p-3 bg-light">
      <div class="col">
        <a name="disable"><h3>Mail delivery</h3></a><p>
        Set this option to <em>Enabled</em> to receive messages posted
        to this mailing list.  Set it to <em>Disabled</em> if you want
        to stay subscribed, but don't want mail delivered to you for a
        while (e.g. you're going on vacation).  If you disable mail
        delivery, don't forget to re-enable it when you come back; it
        will not be automatically re-enabled.</p>
      </div>
      <div class="col col-lg-2 pt-3">
        <mm-delivery-enable-button> Enabled<br/>
        <mm-delivery-disable-button> Disabled<br/>
        <mm-global-deliver-button> <em>Set globally</em>
      </div>
    </div>
    <div class="row m-3 p-3 bg-white">
      <div class="col">
        <h3>Set Digest Mode</h3>
        <p>If you turn digest mode on, you'll get posts bundled together
        (usually one per day but possibly more on busy lists), instead
        of singly when they're sent.  If digest mode is changed from
        on to off, you may receive one last digest.</p>
      </div>
      <div class="col col-lg-2 pt-3">
        <MM-Undigest-Radio-Button> Off<br/>
        <MM-Digest-Radio-Button> On
      </div>
    </div>

    <div class="row m-3 p-3 bg-light">
      <div class="col">
        <h3>Get MIME or Plain Text Digests?</h3>
        <p>Your mail reader may or may not support MIME digests.  In
        general MIME digests are preferred, but if you have a problem
        reading them, select plain text digests.</p>
      </div>
      <div class="col col-lg-2 pt-3">
        <MM-Mime-Digests-Button> MIME<br/>
        <MM-Plain-Digests-Button> Plain Text<br/>
        <mm-global-mime-button> <em>Set globally</em>
      </div>
    </div>

    <div class="row m-3 p-3 bg-white">
      <div class="col">
        <h3>Receive your own posts to the list?</h3>
        <p>Ordinarily, you will get a copy of every message you post to the
        list.  If you don't want to receive this copy, set this option to
        <em>No</em>.</p>
      </div>
      <div class="col col-lg-2 pt-3">
        <mm-dont-receive-own-mail-button> No<br/>
        <mm-receive-own-mail-button> Yes
      </div>
    </div>

    <div class="row m-3 p-3 bg-light">
      <div class="col">
        <h3>Receive acknowledgement mail when you send mail to the list?</h3>
      </div>
      <div class="col col-lg-2 pt-3">
        <mm-dont-ack-posts-button> No<br/>
        <mm-ack-posts-button> Yes
      </div>
    </div>

    <div class="row m-3 p-3 bg-white">
      <div class="col">
        <h3>Get password reminder email for this list?</h3>
        <p>Once a month, you will get an email containing a password reminder
        for every list at this host to which you are subscribed.  You can turn
        this off on a per-list basis by selecting <em>No</em> for this option.
        If you turn off password reminders for all the lists you are subscribed
        to, no reminder email will be sent to you.</p>
      </div>
      <div class="col col-lg-2 pt-3">
        <mm-dont-get-password-reminder-button> No<br/>
        <mm-get-password-reminder-button> Yes<br/>
        <mm-global-remind-button> <em>Set globally</em>
      </div>
    </div>

    <div class="row m-3 p-3 bg-light">
      <div class="col">
        <h3>Conceal yourself from subscriber list?</h3><p>
        <p>When someone views the list membership, your email address is
        normally shown (in an obscured fashion to thwart spam
        harvesters).  If you do not want your email address to show up
        on this membership roster at all, select <em>Yes</em> for this option.</p>
      </div>
      <div class="col col-lg-2 pt-3">
        <MM-Public-Subscription-Button> No<br/>
        <MM-Hide-Subscription-Button> Yes
      </div>
    </div>

    <div class="row m-3 p-3 bg-white">
      <div class="col">
        <h3>What language do you prefer?</h3>
      </div>
      <div class="col col-lg-2 pt-3">
      <MM-list-langs>
      </div>
    </div>

    <div class="row m-3 p-3 bg-light">
      <div class="col">
        <h3>Which topic categories would you like to subscribe to?</h3>
        <p>By selecting one or more topics, you can filter the
        traffic on the mailing list, so as to receive only a subset of the
        messages.  If a message matches one of your selected topics, then you
        will get the message, otherwise you will not.</p>

        <p>If a message does not match any topic, the delivery rule depends on
        the setting of the option below.  If you do not select any topics of
        interest, you will get all the messages sent to the mailing list.</p>
      </div>
      <div class="col col-lg-2 pt-3">
        <mm-topics>
      </div>
    </div>

    <div class="row m-3 p-3 bg-white">
      <div class="col">
        <h3>Do you want to receive messages that do not match any topic filter?</h3>
        <p>This option only takes effect if you've subscribed to at least one
          topic above.  It describes what the default delivery rule is for
          messages that don't match any topic filter.  Selecting <em>No</em>
          says that if the message does not match any topic filters, then you
          won't get the message, while selecting <em>Yes</em> says to deliver
          such non-matching messages to you.</p>

        <p>If no topics of interest are selected above, then you will receive
          every message sent to the mailing list.</p>
      </div>
      <div class="col col-lg-2 pt-3">
        <mm-suppress-nonmatching-topics> No<br/>
        <mm-receive-nonmatching-topics> Yes
      </div>
    </div>

    <div class="row m-3 p-3 bg-light">
      <div class="col">
        <h3>Avoid duplicate copies of messages?</h3>
        <p>When you are listed explicitly in the <tt>To:</tt> or <tt>Cc:</tt>
          headers of a list message, you can opt to not receive another copy
          from the mailing list.  Select <em>Yes</em> to avoid receiving copies
          from the mailing list; select <em>No</em> to receive copies.</p>

          <p>If the list has member personalized messages enabled, and you
          elect to receive copies, every copy will have a <tt>X-Mailman-Copy:
          yes</tt> header added to it.</p>
      </div>
      <div class="col col-lg-2 pt-3">
        <mm-receive-duplicates-button> No<br/>
        <mm-dont-receive-duplicates-button> Yes<br/>
        <mm-global-nodupes-button> <em>Set globally</em>
      </div>
    </div>
    <center><MM-options-Submit-button></center>
    </section>

<MM-Form-End>

<MM-Mailman-Footer>

</div>
</main>

<footer class="footer pt-4 bg-light sticky-bottom">
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Sponsor</h2>
            <p>This site would not be possible without the support of <a href="http://steadfast.net/">steadfast</a>. We would like to thank <a href="http://steadfast.net/">steadfast</a> for being a CentOS sponsor.</p>
            <p>If you value our work, please consider <a href="https://www.centos.org/sponsors/">becoming a sponsor!</a></p>
        </div>
        <div class="col col-lg-4 mt-4">
            <a href="http://steadfast.net/" rel="nofollow"><img class="d-block w-100 img-rounded" src="https://www.centos.org/images/sponsors/steadfast.png"></a>
        </div>
    </div>
</div>
<div class="container mt-4">
    <p class="text-muted credit text-center">&copy; 2019 The CentOS Project | <a href="https://www.centos.org/legal/">Legal</a> | <a href="https://www.centos.org/legal/privacy/">Privacy</a></p>
</div>
</footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
