<header class="site-header sticky-top">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3 shadow">
  <div class="container">
    <a class="navbar-brand" href="{{ site.baseurl }}/{{ site.data.centos.identity.logo.link }}"><img role="img" src="{{ site.baseurl }}/{{ site.data.centos.identity.logo.navbar }}" height="32" alt="{{ site.data.centos.identity.name }}"><span class="manifestation">{{ site.data.centos.identity.logo.manifestation }}</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
      <ul class="navbar-nav">
        {%- for navitem in site.data.centos.navbar -%}
        {% if navitem.menu | length == 0 %}
        <li class="nav-item"><a class="nav-link" role="presentation" href="{{ navitem.link }}"><i class="{{ navitem.icon }}"></i> {{ navitem.name }}</a></li>
        {% else -%}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-{{ loop.index }}" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="{{ navitem.icon }}"></i> {{ navitem.name }}</a>
          <ul class="dropdown-menu dropdown-menu-dark shadow" aria-labelledby="navbarDropdown-{{ loop.index }}">
            {%- for dropdownitem in navitem.menu -%}
            <li><a class="dropdown-item" role="presentation" href="{{ dropdownitem.link }}">{{ dropdownitem.name }}</a> </li>
            {% endfor -%}
          </ul>
        </li>
        {% endif %}
        {%- endfor -%}
        </ul>
    </div>
  </div>
</nav>
</header>
