<footer class="footer pt-3 bg-dark small text-light">

<div class="container">
  <div class="row justify-content-between mt-4 pt-4">
    <div class="col-lg-3 mb-5">
      <a class="navbar-brand" href="{{ site.baseurl }}/{{ site.data.centos.identity.logo.link }}"><img role="img" src="{{ site.baseurl }}/{{ site.data.centos.identity.logo.navbar }}" height="32" alt="{{ site.data.centos.identity.name }}"><span class="manifestation">{{ site.data.centos.identity.logo.manifestation }}</span></a>
      <p class="my-3">{{ site.data.centos.identity.description }}</p>
      <ul class="nav list-unstyled d-flex">
        {% for item in site.data.centos.footer.social %}
        <li class="nav-item me-4 fs-5"><a href="{{ item.link }}" role="button" aria-label="{{ item.name }}" class="link-light"><i class="{{ item.icon }}"></i></a></li>
        {% endfor %}
      </ul>
    </div>

    {% for section in site.data.centos.navbar if section.menu | length > 0 %}
    <div class="col-sm-12 col-lg-3 mb-3">
      <h6 class="text-uppercase fw-bold">{{ section.name }}</h6>
      <ul class="nav flex-column">
        {% for item in section.menu %}
        <li class="nav-item my-1"><a href="{{ item.link }}" class="px-0 link-light">{{ item.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>

  <div class="row py-5">
    <div class="col">Copyright &copy; {{ ansible_facts.date_time.year }} {{ site.data.centos.footer.copyright.author }} {% for item in site.data.centos.footer.copyright.legals %} | <span class="nav-item"><a href="{{ item.link }}" class="link-light">{{ item.text }}</a></span>{% endfor %}</div>
  </div>

</div>

</footer>

<!-- JQuery -->
<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>

<!-- BackToTop -->
<script src="{{ site.baseurl }}/assets/js/vanilla-back-to-top.min.js"></script>
<script>
  addBackToTop({
    diameter: 56,
    backgroundColor: "rgb(32, 7, 53)",
    textColor: "#fff",
  });
</script>

<!-- Bootstrap -->
<script src="{{ site.baseurl }}/assets/js/bootstrap.bundle.min.js"></script>
<script>
  // Initialize Tooltips
  const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
  const tooltipList = [...tooltipTriggerList].map((tooltipTriggerEl) => new bootstrap.Tooltip(tooltipTriggerEl));
</script>
